.tutorial-container {
  position: relative;
  padding: 2rem 1.5rem;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  height: 520px;
  border-radius: 20px;
  color: white;
  z-index: 2;
  overflow-y: hidden;
}

.tutorial-container h2 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.tutorial-section {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(80px);
  border: 2px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.4s ease;
  transform: scale(1);
  opacity: 0.8;
}

.tutorial-section:hover {
  opacity: 1;
}

.tutorial-section.ativa {
  transform: scale(1.02);
  opacity: 1;
  background: rgba(90, 204, 149, 0.5);
  border: 2px solid rgba(113, 223, 170, 0.5);
}

.tutorial-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.conteudo {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.tutorial-section.ativa .conteudo {
  max-height: 500px;
  transition: max-height 1.5s ease;
}

.conteudo p,
.conteudo ul {
  font-size: 1rem;
  line-height: 1.5;
  color: white;
}

.conteudo ul {
  padding-left: 1.2rem;
  list-style-type: disc;
}

.tutorial-section strong {
  color: #96f1c5;
}