.barra-superior {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1449C0; /* cor do figma */
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
  box-sizing: border-box;
}

.barra-superior .esquerda,
.barra-superior .meio,
.barra-superior .direita {
  display: flex;
  align-items: center;
}

.barra-superior .esquerda {
  flex: 1;
  justify-content: flex-start;
}

.barra-superior .meio {
  flex: 2;
  justify-content: center; 
  gap: 20px;
}

.barra-superior .direita {
  flex: 1;
  justify-content: flex-end;
  gap: 15px;
}

.barra-superior a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.barra-superior a:hover {
  text-decoration: underline;
}

#login {

  border-radius: 12px;
  padding: 6px 14px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  background-color: #2F7854;
  transition: background-color 0.3s ease;
}

/* cores do prototipo do figma */
/* #2F7854 */
/* #4DC48A */

#login:hover {
  background-color: #4DC48A;
}

.barra-superior .opcoes {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  margin-left: 10px;
}

.barra-superior .opcoes div {
  background-color: white;
  height: 3px;
  border-radius: 2px;
}

.barra-superior .meio {
  padding: 6px 16px;  
  border-radius: 12px; 
  border: 2px solid white;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  max-width: fit-content;
}
.barra-superior .meio a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.barra-superior .meio a:hover {
  background-color: rgba(255,255,255,0.3);
}

/* Para ajeitar o tamanho do logo. Por sinal, ele vai ser clicavel ne? */
/* Estilo aperta e vai para home. ? */
.logo-img {
  height: 40px;
  width: auto;
}
