.sidebar {
  position: absolute;
  top: 69px;
  right: 0;
  width: 350px;
  height: 100%;
  background-color: white;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.header {
  color: #1449c0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

.coordinates {
  margin: 0;
  font-size: small;
  color: #666;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonGroup {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.saveButton {
  padding: 10px;
  background-color: #2f7854;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.1s ease;
}

.saveButton:hover {
  background-color: #2f7854;
  transform: scale(1.03);
}

.updateButton {
  padding: 10px;
  background-color: #ff7300;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.1s ease;
}

.updateButton:hover {
  background-color: #ff7300;
  transform: scale(1.03);
}

.deleteButton {
  padding: 10px;
  background-color: #be0000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.1s ease;
}

.deleteButton:hover {
  background-color: #be0000;
  transform: scale(1.03);
}

.cancelButton {
  padding: 10px;
  background-color: #666;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: #666;
  transform: scale(1.03);
}

.infoBox {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
  font-size: 12px;
}
