/* Reset completo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  height: 100vh;
}