/* Mensagem quando não há tarefas */
.sem-tarefas {
  text-align: center;
  color: white;
  padding: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.sem-tarefas h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.lista-tarefas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
  z-index: 2;
}

.tarefa-item {
  position: relative;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(80px);
  border-radius: 20px;
  padding: 20px 25px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.tarefa-item:hover {
  transform: scale(1.01);
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
}

.tarefa-item.ativa {
  transform: scale(1.02);
  background: rgba(90, 204, 149, 0.5);
  border: 2px solid rgba(113, 223, 170, 0.5);
}

.conteudo {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.tarefa-item.ativa .conteudo {
  max-height: 500px;
  transition: max-height 1.5s ease;
}

.tarefa-item h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: white;
  font-weight: 600;
}

.tarefa-item p {
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 8px;
}

.recompensa {
  font-size: 1.1rem;
  margin-top: 12px;
}

#destaque-recompensa {
  color: #f8f3c4;
}

.botao-mapa {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.25);
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: translateY(-50%);
  z-index: 5;
}

.tarefa-item.ativa .botao-mapa {
  top: 50%;
  transform: translateY(-50%);
}

.botao-mapa:hover {
  backdrop-filter: blur(80px);
  font-size: 1.4rem;
}